.btn {
    border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-color);
  

  align-items: center;
  background: var(--standart-white);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: transparent;
  }
}

.header__btn {
  @include btn(null, none);  
  padding: 0;
  background-color: transparent;

  transition: fill var(--transition);
  
  &:hover > .menu__icon-line,
  &:focus > .menu__icon-line {
    fill: var(--accent-color);
  }  

  @media screen and (min-width: 768px) {
    display: none;
  }  
}

.menu__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;

  @include btn(null, none);
  background-color: transparent;

  transition: fill var(--transition);
  
  &:hover > .menu__icon-cross,
  &:focus > .menu__icon-cross {
    fill: var(--accent-color);
  }  
}

.filters__btn {
  display: block;
  padding: 6px 22px;

  background: #f5f4fa;
  text-align: center;

  @include font(null, 500, 16px, 26px, 0.03em, var(--primary-text-color));
  @include btn(4px, 1px solid transparent);

  transition: background-color var(--transition), color var(--transition),
    box-shadow var(--transition);

  &:hover,
  &:focus {
    background: #188ce8;
    color: var(--more-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    outline: transparent;
  }
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
}

.btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-wrap__footer {
  display: flex;
  height: 100%;
  padding: 10px 29px;
  @media screen and (max-width: 1199px) {
    margin-top: 20px;
  }
}

.hero-btn {
  padding: 10px 30px;

  @include btn(4px, 1px solid transparent);
  @include font(null, 700, 16px, 30px, 0.06em, var(--more-text-color));

  background: var(--accent-color);

  transition: background-color var(--transition), color var(--transition),
    box-shadow var(--transition);

  &:hover,
  &:focus {
    background: #188ce8;
    color: var(--more-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: transparent;
  }
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  background: var(--primary-bgc);
  @include btn(50%, 1px solid rgba(0, 0, 0, 0.1));

  transition: border-color var(--transition), fill var(--transition);

  &:hover,
  &:focus {
    outline: transparent;
    border-color: var(--accent-color);
  }
  &:hover > .close-icon,
  &:focus > .close-icon {
    fill: var(--accent-color);
  }
}
